h1{
    text-align:center;
    color:turquoise;
    font-size:35px;
}
body{
    background:midnightblue;
    font-family: sans-serif;
}
header{
    padding-bottom: 7px;
}
h2{
    color:lime;
}
p{
    color:turquoise;
}
.randompic{
    width: 30px;
    height: 30px;
}
table{
    border:2px solid mediumaquamarine;
    border-collapse: collapse;
}
td{
    color:lawngreen;
    border:2px solid mediumaquamarine
}
a{
    text-decoration: none;
    color:lawngreen;
    border:1px solid lawngreen;
    padding:5px;
    border-radius: 10px;
}
